{
  "presets": [
    ["env", { "targets": { "node": "current" } }],
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "ignore": [
    "node_modules",
    "flow_typed"
  ]
}
